PROJECT_NAME="MLO Stock Market Intelligence & Paper Trading Platform"
DEBUG=True
API_V1_STR="/api"
CORS_ORIGINS=["http://localhost:5173"]

# Database Connection
DATABASE_URL=postgresql+psycopg://postgres:admin@localhost:5432/mlo_db

# Security & JWT Authentication Configuration
SECRET_KEY=mlo_local_development_secret_key_8f7ef85030a840fb
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
